{
  "env": {
    "test": {
      "plugins": [
        ["istanbul",
          {
            "exclude": [
              "**/unitTest/*.spec.(js|jsx)"
            ],
            "include": [
              "**/src/modules/**/*.(js)"
            ]
          }
        ]
      ]
    }
  },
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": []
}
