node_modules/

# Test reports
test-reports/

# Keep .gitkeep files
# +----------------------------+-------------------------------+
# | To keep an empty directory, add a .gitkeep file to it      |
# | and ignore the directory with a wildcard:                  |
# |                                                            |
# |     /path/to/dir/*                                         |
# |                                                            |
# | This will ignore the content but not the directory itself. |
# +------------------------------------------------------------+
!/**/.gitkeep

