.angular-badge {
  width: 70px;
  height: auto;
  display: inline-block;
  margin: 0 1.5rem 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1em;
  text-transform: uppercase;
}
.angular-badge .angular-badge-icon {
  width: 64px;
  height: 68px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI3MCIgdmlld0JveD0iMCAwIDI1NiAyNzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gbWVldCI+PHBhdGggZD0iTTEyNy42MDYuMzRMLjg1IDQ0Ljk1bDIwLjAzIDE2Ni4wNzIgMTA2Ljg2IDU4LjczMiAxMDcuNDEyLTU5LjUyOEwyNTUuMTc1IDQ0LjE2IDEyNy42MDUuMzR6IiBmaWxsPSIjQjNCM0IzIi8+PHBhdGggZD0iTTI0Mi41MzIgNTMuNzU4TDEyNy4zMSAxNC40NjZ2MjQxLjI1Nmw5Ni41Ni01My40NCAxOC42NjItMTQ4LjUyNHoiIGZpbGw9IiNBNjEyMEQiLz48cGF0aCBkPSJNMTUuMDczIDU0LjQ2NkwzMi4yMzggMjAyLjk5bDk1LjA3IDUyLjczMlYxNC40NjJMMTUuMDc0IDU0LjQ2NXoiIGZpbGw9IiNERDFCMTYiLz48cGF0aCBkPSJNMTU5LjAyNyAxNDIuODk4bC0zMS43MTcgMTQuODNIOTMuODhsLTE1LjcxMyAzOS4zMDYtMjkuMjI4LjU0IDc4LjM3LTE3NC4zNDggMzEuNzE3IDExOS42NzJ6bS0zLjA2Ni03LjQ2N0wxMjcuNTIgNzkuMTNsLTIzLjMyOCA1NS4zMzRoMjMuMTE3bDI4LjY1Ljk3eiIgZmlsbD0iI0YyRjJGMiIvPjxwYXRoIGQ9Ik0xMjcuMzEgMjMuMjI2bC4yMSA1NS45MDIgMjYuNDcgNTUuMzc3aC0yNi42MjJsLS4wNiAyMy4xOSAzNi44MS4wMzQgMTcuMjA1IDM5Ljg1IDI3Ljk2Ny41Mi04MS45OC0xNzQuODc0eiIgZmlsbD0iI0IzQjNCMyIvPjwvc3ZnPg==) no-repeat top center;
  background-size: 64px 68px;
  margin: 0 auto 10px auto;
}
.character-set-wrapper {
  margin: 0 0 4rem 0;
  float: left;
}
@media screen and (min-width: 30.0625em) {
  .character-set-wrapper {
    margin: 0 8rem 4rem 0;
  }
}
.character-large {
  font-size: 100px;
  line-height: 1em;
}
.character-set {
  color: #000;
}
.character-set-example {
  padding-left: 3rem;
  border-left: 2px solid #eee;
}
.character-set-name {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
}
.character-set-name .character-set-name-label {
  font-size: 1.1rem;
  font-weight: normal;
  font-style: none;
  margin: 0;
  line-height: normal;
  text-transform: uppercase;
}
.character-set-lc {
  font-size: 1.3rem;
  margin-bottom: 4px;
}
.character-set-uc {
  font-size: 1.3rem;
  margin-bottom: 4px;
}
.character-set-no {
  font-size: 1.3rem;
  margin-bottom: 4px;
}
.colour-drop-wrapper {
  float: left;
  padding: 20px 0;
  width: 100%;
}
@media screen and (min-width: 48.0625em) {
  .colour-drop-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 62.0625em) {
  .colour-drop-wrapper {
    width: 33.3%;
  }
}
@media screen and (min-width: 87.5625em) {
  .colour-drop-wrapper {
    width: 25%;
  }
}
.colour-drop {
  width: 90px;
  height: 90px;
  float: left;
  border-radius: 45px;
}
.colour-drop-meta {
  float: left;
  font-size: 1.1rem;
  margin-left: 15px;
  padding-top: 1.2rem;
}
.colour-drop-meta .colour-drop-name {
  display: block;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 700;
}
.colour-drop-meta .colour-drop-code {
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.grid-wrapper {
  position: relative;
  background: #eee;
  margin-bottom: 2rem;
}
.grid-wrapper .psuedo-grid-columns {
  position: absolute;
  width: 100%;
  height: 100%;
}
.grid-wrapper .psuedo-grid-columns .col {
  height: 100%;
}
.grid-wrapper .psuedo-grid-columns .col-shadow {
  height: 100%;
}
.grid-wrapper .grid-shadow:after {
  content: '';
  display: table;
  clear: both;
}
.grid-wrapper .col-shadow {
  background: rgba(0,200,255,0.3);
  height: 100px;
  border: 1px solid rgba(0,200,255,0.5);
  box-sizing: border-box;
}
.grid-wrapper .col-label {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  word-wrap: normal;
  font-size: 1.1rem;
  padding: 1rem;
}
.heading-wrapper {
  margin-bottom: 2rem;
}
.heading-wrapper .heading-meta {
  font-size: 1.1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
@media screen and (min-width: 87.5625em) {
  .heading-wrapper .heading-meta {
    float: left;
    text-align: right;
    padding-right: 1.5rem;
    padding-bottom: 0;
    border-right: 2px solid #eee;
    border-bottom: none;
  }
}
.heading-wrapper .heading-meta .heading-label {
  text-transform: uppercase;
}
.heading-wrapper .heading-meta .heading-font {
  font-weight: bold;
  font-style: italic;
}
.heading-wrapper .heading-example {
  padding-top: 1rem;
}
@media screen and (min-width: 87.5625em) {
  .heading-wrapper .heading-example {
    float: left;
    padding-left: 1.5rem;
    padding-top: 0;
  }
}
.heading-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.paragraph-wrapper {
  margin-bottom: 2rem;
}
.paragraph-wrapper .paragraph-meta {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.paragraph-wrapper .paragraph-meta .paragraph-font {
  font-weight: bold;
  font-style: italic;
}
.paragraph-wrapper .paragraph-example {
  border-left: 2px solid #eee;
  padding-left: 1.5rem;
}
@media screen and (min-width: 87.5625em) {
  .paragraph-wrapper .paragraph-example {
    column-count: 2;
    column-gap: 4rem;
  }
}
.unit-wrapper {
  margin-bottom: 2rem;
  float: left;
}
.unit-wrapper .unit-meta {
  font-size: 1.1rem;
  line-height: 1.2em;
  padding-left: 1.5rem;
  margin-right: 1.5rem;
  border-left: 2px solid #eee;
  float: left;
}
.unit-wrapper .unit-meta .unit-label {
  text-transform: uppercase;
}
.unit-wrapper .unit-meta .unit-size {
  font-weight: bold;
  font-style: italic;
}
.unit-wrapper .unit-example {
  float: left;
  margin-right: 1.5rem;
}
.unit-wrapper .unit-example .unit {
  background: rgba(0,200,255,0.3);
  border: 1px solid rgba(0,200,255,0.5);
  box-sizing: border-box;
}
.unit-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/*# sourceMappingURL=snippets.d9d1a7bc.css.map*/