// Styles ONLY for the test harness bits
test-component  // @stylint ignore
  position: fixed
  z-index: 99999
  right: 0
  top: 0
  background: #fff
  padding: 5px
  border-bottom-left-radius: 5px
  box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 10px

  label
    display: inline

