<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title>ES6 Demo App</title>

  <% htmlWebpackPlugin.files.css.forEach(function(cssFile) { %>
  <link href="<%= cssFile %>" rel="stylesheet">
  <% }); %>

  <!-- Die frame! DIE! http://en.wikipedia.org/wiki/Framekiller -->
  <style>html{display:none}</style>
  <script>
    if (window.self !== window.top) {
      window.top.location.href = window.location.href;
    } else {
      document.documentElement.style.display = 'block';
    }
  </script>

  <!-- SSwitcher can also work with <style> blocks -->
  <style disabled>
    /* red-style */
    body {
      background: #000;
      color: #f00;
    }

    h1 {
      color: #f00;
    }
  </style>

  <style disabled>
    /* green-style */
    body {
      background: #fff;
      color: #0f0;
    }

    h1 {
      color: #0f0;
    }
  </style>
</head>
<body>

  <test-component></test-component>

  <h1>Stylesheet Switcher (SSS)</h1>

  <p>SSS is a JS component that can "switch" between a list of stylesheets</p>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</body>
</html>
